@model ProyectSoftware.Web.DTOs.ChangePasswordDTO

@{
    ViewData["Title"] = "Actualizar Contraseña";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="pagetitle">
    <h1>Editar Sección</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="UpdateUser">Editar Usuario</a></li>
            <li class="breadcrumb-item active">Actualizar Contraseña</li>
        </ol>
    </nav>
</div>


<section class="section dashboard">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class=" row">
                <h3 class="m-0 font-weight-bold text-primary col-md-11">Cambiar Contraseña</h3>
            </div>
        </div>


        <div class="card-body">

            <form method="POST" asp-action="ChangePassword">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input asp-for="CurrentPassword" type="password" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-warning"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-warning"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
                </div>
            </form>

        </div>

    </div>

</section>
@* 
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
